img {
  border: 1px solid green !important;
}
svg{
  fill: white !important;
  stroke: green !important;
}

a:link {
  color: darkgreen !important;
  background-color: transparent !important;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

*:not(a):not(svg):not(img) {
    color: green !important;
    background-color: white !important;
  }
